// @file
// /layout/_main.scss
// Custom styles for main content region
//

.region-contentuppermiddle {
  padding: 0 10px;
}

.contentbottom {
  //background: $c--grey-light;
  font-size: 90%;
  padding: 0 20px;

  .block {
  }

  .views-row {
    padding-bottom: 10px;
  }

  .field--name-title {
    font-size: 90%;
    font-weight: bold;
  }
}
