// @file
// /layout/_main.scss
// Custom styles for main content region
//

.block-system-main-block {
  padding-right: 20px;
}

.contentbottom {
  font-size: 90%;
  padding: 0 20px;

  .block {
  }

  .views-row {
    padding-bottom: 10px;
  }

  .field--name-title {
    font-size: 90%;
    font-weight: bold;
  }
}
