// @file
// page/_front.scss - custom styling homepage
//

.node--type-front {
  
  .field--name-field-banner-image {

    img {
      border-radius: 50%;

      margin: 0 auto;

      @include tablet {
        margin: 0 0;
      }
    }

    @include tablet {
      float: left;
      margin: 0 20px 20px 0;
    }
  }

  .field--name-body {
    padding: 10px 20px;

    @include tablet {
      padding: 0 5px;
    }
  }

  .region-contentlowermiddle {
    //margin-top: 20px;
    padding: 0 25px;
  }
}
