{#
/**
 * @file
 * Theme for Tweets module's block.
 *
 * Available variables:
 * - username: Twitter username for block
 * - tweets: A list of tweets
 *
 * @ingroup themeable
 */
#}
<div class="username">Tweets for {{ username|raw }}</div>
<ul>
  {% for tweet in tweets %}
    <li>
      {{ tweet.text|raw }}
      <br/>
      <span class="tweet-date">{{ tweet.created_at|date("M dS Y") }}</span>
    </li>
  {% endfor %}
</ul>
<div class="more">{{ more }}</div>
