// @file
// module/_menu.scss - custom styling for menus
//

.block-menu {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      font-size: 120%;
      margin-right: 1em;
    }
  }
}
