@media all and (min-width: 960px) {

  .contextual-region {
    position: static;
  }

  header {
    color: white;
    display: block;
    float: left;
    //margin: -1em 0 0 2em;
    margin-top: -7em;
    padding-left: 3em;
    //position: absolute;
    //top:2em;
    z-index: 10;
  }

  .region-primary-menu {
    float:right;
    //margin-left: 0;
    //margin-right: 1em;
    margin-top: -7.5em;
    //position: absolute;
    //top: 5em;
    width: 70%;
    z-index: 10;

    ul {
      float: right;
      //position:absolute;

      li {
        color: white;
        float: left;
        padding-right: 2em;

        a {
          color: white;
          //font-size: 20px;
          text-transform: uppercase;

          &.is-active {
            color: white;
            text-decoration: underline;
          }
        }
      }

      li:before {
        color: white;
        content: ' \25CF';
        padding-right: 2em;
        visibility: visible;
      }

      li:first-child:before {
        visibility: hidden;
      }

      li:last-child {
        padding-right: 0;
      }
    }
  }

//  .node--type-front .field--name-field-banner-image {
//    //top: -3em;
//    z-index: 5;
//  }

  .field--name-field-site-name {
    color: white;
    font-weight: bold;
    margin-top: 7em;
    //top: $top-field-site-name + 3;

    .inner {
      @include border-gradient($light-green, $dark-green, 7px);

      display: inline-block;
      padding: 0.5em 1em;

      h1 {
        font-size: $h1-font-size * 0.8;
        margin: 0;
      }
    }
  }

  .field--name-field-strapline {
    color: white;
    font-size: $h4-font-size;
    font-weight: bold;
    margin-top: 0;
    //padding-top: 1em;
    //top: $top-field-strapline - 5.5;

    .inner {
      display: inline-block;
      padding: 0 1em;

      h2 {
        font-size: $h2-font-size;
      }
    }
  }

  .field--name-field-subheading {
    @include bg-gradient($light-green, $dark-green);

    font-size: $h2-font-size;
    //margin-top: -2em;
    //top: $top-field-subheading - 0.5;

    .inner {
      display:inline-block;

      h3 {
        font-size: $h3-font-size;
        margin: 0 0 0.5em 0;
      }
    }
  }

  .node--view-mode-full .field--name-body {
    color: white;
    //margin-top: -2em;
    padding: 1em 0 4em 0;
    //top: $top-body + 10;

    .inner {
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      width: 50%;
    }
  }

  .polygon {
    @include div-rot($rot-amount);

    left: -1em;
    margin-top: 1em;
    min-height: 10em;
    //top: $top-polygon + 13;
    width: 105%;
  }

  .block-views-blockservices-block-1 {
    margin-bottom: 3em;
    padding-top: 1em;
    //position:relative;
    text-align: center;
    //top: $top-blockservices + 10;
    width: 100%;

    h2 {
      @include text-gradient($light-green, $dark-green);
    }

    .view-services {
      margin-left: auto;
      width: 90%;

      .views-row {
        float: left;
        width: 30%;

        .field--name-field-image {
          margin: 2em 0;
        }

        .field--name-body {
          padding: 0 2em;
        }

        .more {
          background: $medium-green;
          margin: 2em auto 0 auto;
          padding: 1em 0;
          text-transform: uppercase;
          width: 80%;

          a {
            color: white;
          }
        }
      }
    }

    h3 {
      font-size: $h4-font-size / 4;
      text-transform: uppercase;

      a {
        color: $medium-green;
      }
    }
  }

  .block-views-blocktechnologies-block-1 {
    background: url("/themes/systemick/images/coding-whiteOverlay.jpeg") no-repeat 30% 25%;
    clear: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 0 2em 0;
    //position:relative;
    //top: $top-blocktechnologies + 14;

    .inner {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }

    .views-row {
      float: left;
      padding-bottom: 0;
      width: 20%;
    }

    .views-row:last-child {
      float: left;
      margin-left: 0;
      margin-right: 0;
    }

    h2 {
      padding-top: 0;
    }
  }

  .block-contactblock {
    float: left;
    padding: 0 0 3em 2em;
    //position: relative;
    //top: $top-blockcontact + 14;
    width: 45%;

    h2 {
      margin-bottom: 0.5em;
    }

    div {
      &.hello {
        margin-bottom: 2em;
        padding: 0 0 0.5em 0;
      }

      &.email {
        float: left;
        margin-bottom: 0.5em;
        padding-left: 2.5em;
        padding-right: 1em;
      }

      &.phone {
        float: left;
        padding-bottom: 0.5em;
        padding-left: 1.5em;
      }
    }

    .contact-message-form {
      margin-top: 2em;

      textarea {
        height: 6em;
      }

      .form-item-name {
        float: left;
        width: 48%;
      }

      .form-item-mail {
        float: right;
        width: 50%;
      }

      .form-item-subject-0-value {
        width: 100%;

        input {
          width: 100%;
        }
      }

      .form-item-message-0-value {
        margin-top: 2em;
      }

      .form-actions {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }

      #edit-submit {
        float: right;
        margin-top: 2em;
      }
    }
  }

  .block-tweets {
    float: right;
    padding: 0 2em 0 0;
    //position: relative;
    //top: $top-blocktweets + 16;
    width: 45%;

    h2 {
      background: url("/themes/systemick/images/twitter.svg") no-repeat 0 0;
      color: white;
      padding-left: 2em;

      margin-bottom: 0.5em;
    }

    .username {
      margin-bottom: 2em;
    }

    ul {
      list-style: none outside;
      padding: 0;

      li {
        padding: 2em 0;

        .tweet-date {
          font-style: italic;
        }

        &:first-child {
          padding: 0 0 2em 0;
        }
      }
    }
  }

  footer {
    @include bg-gradient($light-green, $dark-green);

    clear: left;
    color: white;
    min-height: 6em;
    padding: 0;
    //position:relative;
    text-align: left;
    //top: $top-footer + 21;
    width: 100%;

    .block {
      a {
        color: white;
        font-weight: bold;
      }
    }

    .block-block-content {
      float: left;
      margin-top: 1em;
      padding-left: 2em;
    }

    .block-system {
      float: right;
      margin-top: 1em;
      padding-right: 2em;
      padding-top: 1.5em;
    }
  }

  ///////////////////// END OF FRONT PAGE //////////////////////////

  .path-node,
  .path-services,
  .path-contact {

    header{
      margin-top: -7em;
    }

    .region-primary-menu {
      margin-top: -7.5em;
    }

    main {
      .block-page-title-block {
        margin-top: 7em;
        //top: $top-field-site-name + 2;
        width: 60%;

        h1 {
          font-size: $h1-font-size * 0.8;
        }
      }

      .field--name-field-subheading {
        margin-top: -4em;
        //padding-top: 1em;
        //top: $top-field-subheading - 12.5;

        h3 {
          font-size: $h2-font-size / 0.7;
        }
      }

      .field--name-body {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        //top: $top-body - 21;

        .inner {
          margin-left: auto;
          margin-right: auto;
          width: 70%;
        }
      }

      .polygon {
        //display: none;
        margin-top: 9em;
      }

      .polygon-not-front {
        min-height: 10em;
        //top: $top-polygon - 32.5;
      }
    }

    footer {

      .block-system {
        padding-top: 1.5em;
      }
    }
  }

  .path-services,
  .path-contact {
    .block-system-main-block {
      //position: relative;
      //top: $top-block-system-main + 8;

      h3 {
        font-size: $h3-font-size / 2;
        text-align: center;
      }

      a:hover {
        text-decoration: none;
      }

      .view {
        margin-left: auto;
        margin-right: auto;
        width: 70%;

        .views-row {
          .polygon-not-front {
            display: none;
          }

          .field--name-field-image {
            float: left;
            width: 25%;
          }

          .field--name-body {
            background: none;
            color: $medium-green;
            float: right;
            //position: relative;
            top: -3em;
            width: 70%;

            .inner {
              width: 100%;
            }
          }

          .more {
            //left: 2.8em;
            //margin-top: -5em;
            //position: relative;
          }
        }
      }
    }

    footer {
      //margin-top: 2em;
    }
  }

  .path-services {

    .block-system-main-block {
      margin-top: 15em;
    }
  }

  .path-contact {
    .block-system-main-block {
      padding: 0 5em;
      //top: $top-block-system-main + 5;
    }
  }

  .node--type-service {

    main {

      .block-page-title-block {
        //top: $top-field-site-name;

        h1 {
          font-size: $h1-font-size * 0.5;
        }
      }

      .field--name-body {
        margin-top: 4em;
        //top: $top-body - 27;

        .inner {
          margin-top: 0;
        }
      }

      .block-contactblock {
        //top: $top-blockcontact + 8;
      }

      .block-tweets {
        //top: $top-blocktweets + 10;
      }
    }

    footer {
      //top: $top-footer + 15;
    }
  }
}