/**
 * @file
 * Positioning for a responsive layout.
 *
 */

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-image: url("/themes/systemick/images/office-room-bw_1.jpeg");
  background-position: 0 3em;
  background-repeat: no-repeat;
  background-size: contain;

  font-size: $base-font-size + 2;
  overflow-x: hidden;
  width:100%;
}

.contextual-region {
  position: static;
}

form {
  label {
    color: $dark-grey;
    text-transform: uppercase;
  }

  input,
  textarea {
    border-bottom: 4px solid $medium-green;
  }

  textarea {
    height: 6em;
  }

  .form-actions {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #edit-submit {
    @include border-gradient($light-green, $dark-green, 4px);

    background-color: white;
    padding: 0.25em;
    text-transform: uppercase;
  }
}

header {
  display: none;
}

.region-primary-menu {
  display: block;
  font-size: $base-font-size * 0.8;
  width: 100%;

  ul {
    left: 8%;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    top: 0;
    width: 90%;

    li {
      float: left;
      padding-right: 0.3em;

      a {
        color: $medium-green;
        text-transform: uppercase;

        &.is-active {
          color: $medium-green;
          text-decoration: underline;
        }
      }
    }

    li:before {
      color: $medium-green;
      content: ' \25CF';
      font-size: 10px;
    }

    li:first-child:before {
      visibility: hidden;
    }
  }
}

.field--name-field-site-name {
  margin-top: 5em;
  text-align: center;
  width:100%;
  z-index: 10;

  .inner {
    @include border-gradient($light-green, $dark-green, 4px);

    display: inline-block;
    padding: 0.5em 1em;

    h1 {
      font-size: $h2-font-size;
      margin: 0;
    }
  }
}

.field--name-field-strapline {
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 10;

  .inner {
    display: inline-block;

    h2 {
      font-size: $h4-font-size / 4;
    }
  }
}

.field--name-field-subheading {
  @include bg-gradient($light-green, $dark-green);

  margin-top: -3em;
  position:relative;
  text-align: center;
  width: 100%;
  z-index: 150;

  .inner {

    h3 {
      font-size: $h4-font-size / 2;
      margin-bottom: 0;
      padding: 0;
    }
  }
}

.node--view-mode-full .field--name-body {
  @include bg-gradient($light-green, $dark-green);

  color: white;
  position: relative;
  margin-top: -1em;
  width: 100%;
  z-index: 100;

  .inner {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 90%;

    a {
      color: white;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.polygon {
  @include bg-gradient($light-green, $dark-green);
  @include div-rot($rot-amount);

  margin-left: -0.5em;
  margin-top: -0.5em;
  min-height: 3em;
  overflow: hidden;
  width: 105%;
  z-index: 0;

  .inner {
    overflow: scroll;
  }
}

.polygon-not-front {
  display: none;
}

.block-views-blockservices-block-1 {
  background-color: white;
  text-align: center;
  width: 100%;

  h2 {
    @include text-gradient($light-green, $dark-green);
  }

  .view-services {

    .more {
      background: $medium-green;
      margin: 1em auto 2em auto;
      padding: 0.5em;
      text-transform: uppercase;
      width: 40%;

      a {
        color: white;
      }
    }
  }

  h3 {
    font-size: $h4-font-size / 4;
    text-transform: uppercase;
  }
}

.block-views-blocktechnologies-block-1 {
  background: url("/themes/systemick/images/coding-whiteOverlay.jpeg") no-repeat 30% 30%;
  text-align: center;
  width: 100%;

  .views-row {
    float: left;
    padding-bottom: 1em;
    width: 50%;
  }

  .views-row:last-child {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    @include text-gradient($light-green, $dark-green);
    padding-top: 0.5em;
  }
}

.block-contactblock {
  background-color: white;
  padding: 0.5em;

  h2 {
    @include text-gradient($light-green, $dark-green);

    margin-bottom: 0.5em;
  }

  div {
    &.hello {
      margin-bottom: 1em;
    }

    &.email {
      background: url("/themes/systemick/images/email.svg") no-repeat 0 0;
      font-weight: bold;
      margin-bottom: 0.5em;
      padding-left: 3em;
    }

    &.phone {
      background: url("/themes/systemick/images/phone.svg") no-repeat 0 0;
      font-weight: bold;
      padding-bottom: 0.5em;
      padding-left: 3em;
    }
  }

  .contact-message-form {

    label {
      color: $dark-grey;
      text-transform: uppercase;
    }

    input,
    textarea {
      border-bottom: 4px solid $medium-green;
    }

    textarea {
      height: 3em;
    }

    .form-actions {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    #edit-submit {
      @include border-gradient($light-green, $dark-green, 4px);

      background-color: white;
      font-size: $base-font-size + 3;
      padding: 0.25em;
      text-transform: uppercase;
    }
  }
}

.block-tweets {
  background-color: white;
  padding: 0 0.5em;

  h2 {
    background: url("/themes/systemick/images/twitter.svg") no-repeat 0 0;
    color: white;
    padding-left: 2em;

    margin-bottom: 0.5em;
  }

  ul {
    list-style: none outside;
    margin-bottom: 0;
    padding: 0;

    li {
      border-bottom: 1px dotted $light-grey;
      padding: 1em 0;

      .tweet-date {
        font-style: italic;
      }

      &:first-child {
        padding: 0 0 1em 0;
      }

      &:last-child {
        border-bottom: none;
      }

      a,
      a:link,
      a:visited,
      a:hover,
      a:focus,
      a:active,
      a:-moz-any-link,
      a:-webkit-any-link {
        color: $medium-green;
        text-decoration: none;
      }
      a:visited {
        color: $medium-green;
      }
      a:hover,
      a:focus {
        color: $medium-green;
        text-decoration: underline;
      }
      a:active {
        color: $medium-green;
      }
    }
  }
}

.block-views-blockservice-modal-block-1,
.block-views-blockservice-modal-block-2,
.block-views-blockservice-modal-block-3 {
  background-color: white;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.95;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;

  .inner {
    background: #eee;
    box-shadow: 4px 4px 80px #000;
    left: 50%;
    min-height: 80%;
    opacity: 1.0;
    overflow: hidden;
    position: absolute;
    top: 1%;
    width: 90%;

    -ms-transform: translate(-50%,0); /* IE 9 */
    -webkit-transform: translate(-50%,0); /* Safari */
    transform: translate(-50%,0);

    h2 {
      display: none;
    }

    .close {
      float: right;
      font-weight: bold;
      margin: 1em 1em 0 0;
      width: 2%;
    }

    .views-field-title {
      font-size: $h3-font-size / 2.5;
      margin-top: 1em;
      padding-left: 0.5em;
      padding-top: 2em;
      text-align: center;
      text-transform: uppercase;
    }

    .views-field-body {
      margin-bottom: 12em;
      padding-left: 1em;
      width: 90%;
    }

    .views-field-field-image {
      margin-left: auto;
      margin-right: auto;
      padding: 2em 1em 0 1em;
      width: 60%;
    }

    .polygon {
      margin-top: 5em;
      min-height: 3em;
    }

    .footer {
      @include bg-gradient($light-green, $dark-green);

      bottom:0;
      color: white;
      font-size: $base-font-size * 1.2;
      margin-top: -1em;
      min-height: 3em;
      padding: 2em 1em 0 1em;
      position: relative;
      width:100%;

      .problem {
        margin: -3em 0 1em -1em;
        padding-top: 0.5em;
        text-align: center;
        width: 100%;
      }

      .button {
        background-color: white;
        color: $medium-green;
        margin-left: 0;
        margin-top: 0;
        padding: 0.5em 0;
        text-align: center;
        text-transform: uppercase;
        width: 90%;
      }
    }
  }
}

footer {
  @include bg-gradient($light-green, $dark-green);

  color: white;
  margin-top: 2em;
  padding: 0 0.5em 1em 0.5em;
  text-align: center;
  width: 100%;

  .block {
    a {
      color: white;
      font-weight: bold;
    }
  }

  .block-system {
    padding-bottom: 0.5em;
  }
}

//////////////////// END OF FRONT PAGE ////////////////////////////////////

.path-node,
.path-tweets,
.path-services,
.path-contact {
  main {
    .block-page-title-block {
      width: 100%;

      .inner {
        @include border-gradient($light-green, $dark-green, 4px);

        margin-left: auto;
        margin-right: auto;
        margin-top: 5em;
        width: 50%;

        h1 {
          font-size: $h2-font-size;
          margin: 0.25em;
          text-align: center;
        }
      }
    }

    .view-services {

      .field--name-field-image {
        visibility: visible;
      }
    }

    .field--name-field-subheading {
      margin-top: -3em;
    }

    .field--name-body {
      @include bg-gradient($light-green, $dark-green);

      color: white;
      margin-top: 3em;
      width: 100%;
      z-index: 20;

      .inner {
        margin-bottom: 2em;
        margin-top: -4em;
        padding: 1em;
        width: 90%;

        a {
          color: white;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }

    .polygon {
      margin-top: 3em;
    }

    .polygon-not-front {
      display: none;
    }
  }

  footer {

    .block-block-content {
      margin-top: $top-footer;
    }
  }
}

.node--type-service {

  main {

    .block-page-title-block {

      .inner {
        width: 90%;
      }
    }
  }

  .block-system-main-block {
    margin-top: 3em;
  }

  .field--name-field-image {
    visibility: visible;
  }
}

.path-services,
.path-contact {
  .block-system-main-block {
    margin-top: 6em;

    h3 {
      font-size: $h3-font-size / 3;
      text-align: center;
    }

    a:hover {
      text-decoration: none;
    }

    .view {

      .views-row {

        .field--name-field-image {

          .inner {
            margin-left: auto;
            margin-right: auto;
            width: 80%;

            img {
              margin-left: 2em;
            }
          }
        }

        .field--name-body {
          background: none;
          color: $medium-green;
        }

        .more {
          font-weight: bold;
          margin: 1em 0 0 1em;
        }
      }
    }
  }
}

.path-services {
  footer {
    margin-top: 5em;
  }

  .block-system-main-block {

    .view {

      .views-row {

        .more {
          background: $medium-green;
          margin: 0 auto 0 auto;
          margin-left: auto;
          margin-right: auto;
          padding: 0.5em;
          text-align:center;
          text-transform: uppercase;
          width: 60%;

          a {
            color: white;
          }
        }
      }
    }
  }
}

.path-contact {
  .block-system-main-block {
    margin-bottom: 2em;
    margin-top: 4em;
    padding: 0 0.5em;

    .form-actions {
      margin-left: 0;
    }
  }
}

.path-node {
  .block-system-main-block {

    .field--name-field-image {

      .inner {
        margin-left: auto;
        margin-right: auto;
        width: 50%;

        img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

  }
}

.path-tweets {

  .block-system-main-block {
    margin-top: 4em;
    padding: 0 0.5em;

    ul {
      list-style: none outside;
      padding: 0;

      li {
        border-bottom: 1px dotted $light-grey;
        margin: 1em 0;
        padding-bottom: 0.5em;
      }
    }
  }
}

.path-system {

  .block-system-main-block {
    margin-top: 34em;
  }
}

.path-user {

  .block-system-main-block {
    margin-top: 30em;
    padding-left: 2em;
  }
}

@-moz-document url-prefix() {
  /* FF CSS styles go here */
  .block-views-blockservices-block-1 {

    h2 {
      background-color: transparent;
      color: $medium-green;
    }
  }

  h3,
  .path-tweets,
  .block-tweets {
    a {
      color: $medium-green;
      text-decoration: none;
    }
  }

  .block-views-blockservice-modal-block-1,
  .block-views-blockservice-modal-block-2,
  .block-views-blockservice-modal-block-3 {

    .inner {

      .views-field-title,
      .footer{

        a {
          color: $medium-green;
          text-decoration: none;
        }
      }
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .block-views-blockservices-block-1 {

    h2 {
      background-color: transparent;
      color: $medium-green;
    }
  }

  h3,
  .path-tweets,
  .block-tweets {
    a {
      color: $medium-green;
      text-decoration: none;
    }
  }

  .block-views-blockservice-modal-block-1,
  .block-views-blockservice-modal-block-2,
  .block-views-blockservice-modal-block-3 {

    .inner {

      .views-field-title,
      .footer{

        a {
          color: $medium-green;
          text-decoration: none;
        }
      }
    }
  }
}