/* Everything wider than mobile portrait */
@media all and (min-width: 480px) {

  body {
    background-position: 0 0;
  }

  header {
    color: white;
    display: block;
    padding: 1em 0 0 1em;
    width: 30%;
  }

  .region-primary-menu {
    float:right;
    margin-left: 0;
    margin-right: 0;
    margin-top: -5em;
    padding-right: 1em;
    width: 78%;

    ul {
      float: right;
      position: static;

      li {
        color: white;
        float: left;
        padding-right: 1em;

        a {
          color: white;
          text-transform: uppercase;

          &.is-active {
            color: white;
            text-decoration: underline;
          }
        }
      }

      li:before {
        color: white;
        content: ' \25CF';
        padding-right: 1em;
      }

      li:first-child {
        padding-left: 2.6em;
      }

      li:first-child:before {
        visibility: hidden;
      }

      li:last-child {
        padding-right: 0;
      }
    }
  }

  .block-views-blocktechnologies-block-1 {

    .views-row:last-child {
      width: 20%;
    }
  }

  .field--name-field-site-name {
    margin-top: 3em;

    .inner {

      h1 {
        font-size: $h2-font-size * 1.2;
      }
    }
  }

  .polygon {
    margin-top: -1em;
  }

  .block-contactblock {

    .contact-message-form {


      .form-actions {
        width: 30%;
      }
    }
  }

  .block-views-blockservice-modal-block-1,
  .block-views-blockservice-modal-block-2,
  .block-views-blockservice-modal-block-3 {

    .inner {

      .views-field-body {
        float: left;
        width: 60%;
      }

      .views-field-field-image {
        float: right;
        width: 30%;
      }
    }
  }

  ///////////////////////// END OF FRONT /////////////////////////

  .path-node,
  .path-tweets,
  .path-services,
  .path-contact {

    main {

      .block-page-title-block {
        margin-top: -2em;

        .inner {
          width: 40%;
        }
      }

      .field--name-field-subheading {
        margin-top: -3em;
      }

      .field--name-body {

        .inner {
          margin-left: auto;
        }
      }

      .polygon {
        margin-top: 6em;
      }
    }
  }

  .path-services,
  .path-contact {

    .block-system-main-block {
      margin-top: 6em;
    }

    main {

      .field--name-body {

        .inner {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .block-contactblock,
    .block-tweets {
      margin-top: 2em;
    }
  }

  .path-tweets {

    .block-system-main-block {
      margin-top: 6em;
    }
  }

  @-moz-document url-prefix() {

    .region-primary-menu {

      ul {

        li {

          a{
            text-decoration: none;

            &.is-active {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    .region-primary-menu {

      ul {

        li {

          a{
            text-decoration: none;

            &.is-active {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}