@media all and (min-width: 1024px) {
  header {
    margin: -1em 0 0 2em;
  }

  .region-primary-menu {
    margin-right: 1.5em;
  }

  .node--type-front .field--name-field-site-name {
    top: $top-field-site-name + 1;
  }

  .node--type-front .field--name-field-strapline {
    top: $top-field-strapline - 5;
  }

  .field--name-field-subheading {
    top: $top-field-subheading + 4.5;
  }

  .node--type-front .node--view-mode-full .field--name-body {
    top: $top-body + 15;
  }

  .polygon {
    top: $top-polygon + 10;
  }

  .block-views-blockservices-block-1 {
    top: $top-blockservices + 15;
  }

  .block-views-blocktechnologies-block-1 {
    top: $top-blocktechnologies + 19;
  }

  .block-contactblock {
    top: $top-blockcontact + 21;
  }

  .block-tweets {
    top: $top-blocktweets + 23;
  }

  footer {
    top: $top-footer + 27;
  }
}