@media all and (min-width: 1480px) {
  .region-primary-menu {
    width: 60%;
  }

  .polygon {
    margin-top: 8em;
  }

  .path-node,
  .path-tweets,
  .path-services,
  .path-contact {

    main {

      .block-system-main-block {
        margin-top: 18em;
      }

      .block-page-title-block {
        margin-top: 12em;
      }

      .polygon {
        margin-top: -12em;
      }
    }
  }
}