@media all and (min-width: 1224px) {
  header {
    margin: -12em 0 0 3em;
  }

  .region-primary-menu {
    margin-right: -10.5em;
    margin-top: -13em;
    width: 60%;
  }

  .node--type-front .field--name-field-site-name {
    margin-top: 12em;

    .inner {
      width: 40%;
    }
  }

  .field--name-field-subheading {
    margin-bottom: -1em;
  }

  .polygon {
    margin-top: 8em;
  }

  .path-node,
  .path-tweets,
  .path-services,
  .path-contact {

    header {
      margin: -12em 0 0 3em;
    }

    .region-primary-menu {
      margin-right: -10.5em;
      margin-top: -13em;
    }

    main {

      .block-system-main-block {
        margin-top: 30em;
      }

      .block-page-title-block {
        margin-top: 12em;
      }
    }
  }

  .path-services,
  .path-contact {

    main {

      .block-system-main-block {
        margin-top: 30em;

        .view {

          .views-row {

            .more {
              width: 20%;
            }
          }
        }
      }
    }
  }

  .node--type-page {

    main {

      .block-system-main-block {
        margin-top: 16em;
      }
    }
  }

  .node--type-service {

    main {

      .block-system-main-block {
        margin-top: 12em;
      }
    }
  }

  .path-tweets {

    .block-system-main-block {
      margin-top: 45em;
      padding: 0 2em;
    }
  }
}