/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

body {
  width:100%;
}

.contextual-region {
  position: static;
}

header {
  display: none;
}

.region-primary-menu {
  position: relative;
  top: $top-region-primary-menu;
  width: 100%;

  ul {
    margin-left: auto;
    margin-right: auto;
    margin-top: -3.5em;
    width: 92%;

    li {
      float: left;
      padding-right: 0.3em;

      a {
        color: $medium-green;
        text-transform: uppercase;

        &.is-active {
          color: $medium-green;
          text-decoration: underline;
        }
      }
    }

    li:before {
      color: $medium-green;
      content: ' \25CF';
      font-size: 10px;
    }

    li:first-child:before {
      visibility: hidden;
    }
  }
}

.node--type-front .field--name-field-banner-image {
  position: absolute;
  top: $top-field-banner-image;
  z-index: 5;
}

.node--type-front .field--name-field-site-name {
  position:absolute;
  text-align: center;
  top: $top-field-site-name;
  width:100%;
  z-index: 10;

  .inner {
    @include border-gradient($light-green, $dark-green, 4px);

    display: inline-block;
    padding: 0.5em 1em;

    h1 {
      font-size: $h2-font-size;
      margin: 0;
    }
  }
}

.node--type-front .field--name-field-strapline {
  padding-top: 0.5em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: $top-field-strapline;
  width: 100%;
  z-index: 10;

  .inner {
    display: inline-block;

    h2 {
      font-size: $h4-font-size / 4;
    }
  }
}

.field--name-field-subheading {
  @include bg-gradient($light-green, $dark-green);

  position:relative;
  text-align: center;
  top: $top-field-subheading;
  width: 100%;
  z-index: 30;

  .inner {

    h3 {
      font-size: $h4-font-size / 2;
      margin-bottom: 0;
      padding: 0;
    }
  }
}

.node--type-front .node--view-mode-full .field--name-body {
  @include bg-gradient($light-green, $dark-green);

  color: white;
  position:relative;
  top: $top-body;
  width: 100%;
  z-index: 20;

  .inner {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 90%;
  }
}

.polygon {
  @include bg-gradient($light-green, $dark-green);
  @include div-rot($rot-amount);

  min-height: 3em;
  position: relative;
  top: $top-polygon;
  width: 101%;
  z-index: 20;
}

.block-views-blockservices-block-1 {
  position:relative;
  text-align: center;
  top: $top-blockservices;
  width: 100%;

  h2 {
    @include text-gradient($light-green, $dark-green);
  }

  .view-services {

    .more {
      background: $medium-green;
      margin: 1em auto 2em auto;
      padding: 0.5em;
      text-transform: uppercase;
      width: 40%;

      a {
        color: white;
      }
    }
  }

  h3 {
    font-size: $h4-font-size / 4;
    text-transform: uppercase;
  }
}

.block-views-blocktechnologies-block-1 {
  background: url("/themes/systemick/images/coding-whiteOverlay.jpeg") no-repeat 30% 30%;
  position:relative;
  text-align: center;
  top: $top-blocktechnologies;
  width: 100%;

  .views-row {
    float: left;
    padding-bottom: 1em;
    width: 50%;
  }

  .views-row:last-child {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    @include text-gradient($light-green, $dark-green);
    padding-top: 0.5em;
  }
}

.block-contactblock {
  padding: 0.5em;
  position: relative;
  top: $top-blockcontact;

  h2 {
    @include text-gradient($light-green, $dark-green);

    margin-bottom: 0.1em;
  }

  div {
    &.hello {
      margin-bottom: 1em;
    }

    &.email {
      background: url("/themes/systemick/images/email.svg") no-repeat 0 0;
      font-weight: bold;
      margin-bottom: 0.5em;
      padding-left: 3em;
    }

    &.phone {
      background: url("/themes/systemick/images/phone.svg") no-repeat 0 0;
      font-weight: bold;
      padding-bottom: 0.5em;
      padding-left: 3em;
    }
  }

  .contact-message-form {

    label {
      color: $dark-grey;
      text-transform: uppercase;
    }

    input,
    textarea {
      border-bottom: 4px solid $medium-green;
    }

    textarea {
      height: 3em;
    }

    .form-actions {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    #edit-submit {
      @include border-gradient($light-green, $dark-green, 4px);

      background-color: white;
      padding: 0.25em;
      text-transform: uppercase;
    }
  }
}

.block-tweets {
  padding: 0 0.5em;
  position: relative;
  top: $top-blocktweets;

  h2 {
    background: url("/themes/systemick/images/twitter.svg") no-repeat 0 0;
    color: white;
    padding-left: 2em;

    margin-bottom: 0.5em;
  }

  ul {
    list-style: none outside;
    padding: 0;

    li {
      border-bottom: 1px dotted $light-grey;
      padding: 1em 0;

      .tweet-date {
        font-style: italic;
      }

      &:first-child {
        padding: 0 0 1em 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

footer {
  @include bg-gradient($light-green, $dark-green);

  color: white;
  padding: 0 0.5em 1em 0.5em;
  position:relative;
  text-align: center;
  top: $top-footer;
  width: 100%;

  .block {
    a {
      color: white;
      font-weight: bold;
    }
  }

  .block-system {
    padding-bottom: 0.5em;
  }
}

/* Everything wider than mobile */
@media all and (min-width: 480px) {

  .node--type-front .field--name-field-site-name {
    top: $top-field-site-name + 6;
  }

  .node--type-front .field--name-field-strapline {
    top: $top-field-strapline + 6;
  }

  .field--name-field-subheading {
    top: $top-field-subheading + 6;
  }

  .node--type-front .node--view-mode-full .field--name-body {
    top: $top-body + 6;
  }

  .polygon {
    top: $top-polygon + 6;
  }

  .block-views-blockservices-block-1 {
    top: $top-blockservices + 6;
  }

  .block-views-blocktechnologies-block-1 {
    top: $top-blocktechnologies + 6;
  }

  .block-contactblock {
    top: $top-blockcontact + 6;
  }

  .block-tweets {
    top: $top-blocktweets + 6;
  }

  footer {
    top: $top-footer + 6;
  }

}

@media all and (min-width: 768px) and (max-width: 959px) {
  .node--type-front .field--name-field-site-name {
    top: $top-field-site-name + 10;
  }

  .node--type-front .field--name-field-strapline {
    top: $top-field-strapline + 10;
  }

  .field--name-field-subheading {
    top: $top-field-subheading + 9.5;
  }

  .node--type-front .node--view-mode-full .field--name-body {
    top: $top-body + 10;
  }

  .polygon {
    top: $top-polygon + 10;
  }

  .block-views-blockservices-block-1 {
    top: $top-blockservices + 10;
  }

  .block-views-blocktechnologies-block-1 {
    top: $top-blocktechnologies + 10;
  }

  .block-contactblock {
    top: $top-blockcontact + 10;
  }

  .block-tweets {
    top: $top-blocktweets + 10;
  }

  footer {
    top: $top-footer + 10;
  }
}

@media all and (min-width: 480px) and (max-width: 959px) {

}

@media all and (min-width: 960px) {
  .contextual-region {
    position: static;
  }

  header {
    color: white;
    display: block;
    float: left;
    margin: -1em 0 0 2em;
    padding-left: 1em;
    position:relative;
    top:2em;
    z-index: 10;
  }

  .region-primary-menu {
    float:right;
    margin-left: 0;
    margin-right: 1em;
    position: relative;
    top: 5em;
    width: 60%;
    z-index: 10;

    ul {
      float: right;

      li {
        color: white;
        float: left;
        padding-right: 2em;

        a {
          color: white;
          font-size: 20px;
          text-transform: uppercase;

          &.is-active {
            color: white;
            text-decoration: underline;
          }
        }
      }

      li:before {
        color: white;
        content: ' \25CF';
        padding-right: 1em;
      }

      li:first-child:before {
        visibility: hidden;
      }

      li:last-child {
        padding-right: 0;
      }
    }
  }

  .node--type-front .field--name-field-banner-image {
    top: -3em;
    z-index: 5;
  }

  .node--type-front .field--name-field-site-name {
    color: white;
    font-weight: bold;
    //top: 18em;
    top: $top-field-site-name + 3;

    .inner {
      @include border-gradient($light-green, $dark-green, 7px);

      display: inline-block;
      padding: 0.5em 1em;

      h1 {
        font-size: $h1-font-size;
        margin: 0;
      }
    }
  }

  .node--type-front .field--name-field-strapline {
    color: white;
    font-size: $h4-font-size;
    font-weight: bold;
    padding-top: 1em;
    //top: 6em;
    top: $top-field-strapline - 5.5;

    .inner {
      display: inline-block;
      padding: 0 1em;

      h2 {
        font-size: $h2-font-size;
      }
    }
  }

  .field--name-field-subheading {
    @include bg-gradient($light-green, $dark-green);

    font-size: $h2-font-size;
    margin-top: -2em;
    //top: 18em;
    top: $top-field-subheading - 0.5;

    .inner {
      display:inline-block;

      h3 {
        font-size: $h3-font-size;
        margin: 0 0 0.5em 0;
      }
    }
  }

  .node--type-front .node--view-mode-full .field--name-body {
    color: white;
    margin-top: -2em;
    padding: 1em 0 4em 0;
    //top: 37em;
    top: $top-body + 10;

    .inner {
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      width: 50%;
    }
  }

  .polygon {
    @include div-rot($rot-amount);

    left: -1em;
    min-height: 10em;
    top: 38em;
    top: $top-polygon + 10;
    width: 105%;
  }

  .block-views-blockservices-block-1 {
    padding-top: 1em;
    position:relative;
    text-align: center;
    //top: 36em;
    top: $top-blockservices + 10;
    width: 100%;

    h2 {
      @include text-gradient($light-green, $dark-green);
    }

    .view-services {
      margin-left: auto;
      width: 90%;

      .views-row {
        float: left;
        width: 30%;

        .field--name-field-image {
          margin: 2em 0;
        }

        .field--name-body {
          padding: 0 2em;
        }

        .more {
          background: $medium-green;
          margin: 2em auto 0 auto;
          padding: 1em 0;
          text-transform: uppercase;
          width: 40%;

          a {
            color: white;
          }
        }
      }
    }

    h3 {
      font-size: $h4-font-size / 4;
      text-transform: uppercase;

      a {
        color: $medium-green;
      }
    }
  }

  .block-views-blocktechnologies-block-1 {
    background: url("/themes/systemick/images/coding-whiteOverlay.jpeg") no-repeat 30% 25%;
    clear: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 0 2em 0;
    position:relative;
    //top: 39em;
    top: $top-blocktechnologies + 14;

    .inner {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }

    .views-row {
      float: left;
      padding-bottom: 0;
      width: 20%;
    }

    .views-row:last-child {
      float: left;
      margin-left: 0;
      margin-right: 0;
    }

    h2 {
      padding-top: 0;
    }
  }

  .block-contactblock {
    float: left;
    padding: 0 0 0 2em;
    position: relative;
    //top: 40em;
    top: $top-blockcontact + 14;
    width: 45%;

    h2 {
      margin-bottom: 0.5em;
    }

    div {
      &.hello {
        margin-bottom: 2em;
        padding: 0 0 0.5em 0;
      }

      &.email {
        float: left;
        margin-bottom: 0;
        padding-left: 2.5em;
        padding-right: 1em;
      }

      &.phone {
        float: left;
        padding-bottom: 0.5em;
        padding-left: 1.5em;
      }
    }

    .contact-message-form {
      margin-top: 2em;

      textarea {
        height: 6em;
      }

      .form-item-name {
        float: left;
        width: 48%;
      }

      .form-item-mail {
        float: right;
        width: 50%;
      }

      .form-item-subject-0-value {
        width: 100%;

        input {
          width: 100%;
        }
      }

      .form-item-message-0-value {
        margin-top: 2em;
      }

      .form-actions {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }

      #edit-submit {
        float: right;
        margin-top: 2em;
      }
    }
  }

  .block-tweets {
    float: right;
    padding: 0;
    position: relative;
    //top: 40em;
    top: $top-blocktweets + 16;
    width: 45%;

    h2 {
      background: url("/themes/systemick/images/twitter.svg") no-repeat 0 0;
      color: white;
      padding-left: 2em;

      margin-bottom: 0.5em;
    }

    .username {
      margin-bottom: 2em;
    }

    ul {
      list-style: none outside;
      padding: 0;

      li {
        padding: 2em 0;

        .tweet-date {
          font-style: italic;
        }

        &:first-child {
          padding: 0 0 2em 0;
        }
      }
    }
  }

  footer {
    @include bg-gradient($light-green, $dark-green);

    clear: left;
    color: white;
    min-height: 6em;
    padding: 0;
    position:relative;
    text-align: left;
    //top: 43em;
    top: $top-footer + 21;
    width: 100%;

    .block {
      a {
        color: white;
        font-weight: bold;
      }
    }

    .block-block-content {
      float: left;
      padding-left: 2em;
    }

    .block-system {
      float: right;
      padding-right: 2em;
      padding-top: 2.5em;
    }
  }
}

@media all and (min-width: 1024px) {
  header {
    margin: -1em 0 0 1em;
  }

  .region-primary-menu {
    margin-right: -1em;
  }

  .node--type-front .field--name-field-site-name {
    top: $top-field-site-name + 4;
  }

  .node--type-front .field--name-field-strapline {
    top: $top-field-strapline - 5;
  }

  .field--name-field-subheading {
    top: $top-field-subheading + 1.5;
  }

  .node--type-front .node--view-mode-full .field--name-body {
    top: $top-body + 15;
  }

  .polygon {
    top: $top-polygon + 12;
  }

  .block-views-blockservices-block-1 {
    top: $top-blockservices + 15;
  }

  .block-views-blocktechnologies-block-1 {
    top: $top-blocktechnologies + 19;
  }

  .block-contactblock {
    top: $top-blockcontact + 19;
  }

  .block-tweets {
    top: $top-blocktweets + 21;
  }

  footer {
    top: $top-footer + 25;
  }
}

@media all and (min-width: 1224px) {
  header {
    margin: -1em 0 0 3em;
  }

  .region-primary-menu {
    margin-right: -18em;
  }

  .node--type-front .field--name-field-site-name {
    top: $top-field-site-name + 8;
  }

  .node--type-front .field--name-field-strapline {
    top: $top-field-strapline - 4;
  }

  .field--name-field-subheading {
    top: $top-field-subheading + 5.5;
  }

  .node--type-front .node--view-mode-full .field--name-body {
    top: $top-body + 22;
  }

  .polygon {
    top: $top-polygon + 18;
  }

  .block-views-blockservices-block-1 {
    top: $top-blockservices + 22;
  }

  .block-views-blocktechnologies-block-1 {
    top: $top-blocktechnologies + 26;
  }

  .block-contactblock {
    top: $top-blockcontact + 26;
  }

  .block-tweets {
    top: $top-blocktweets + 28;
  }

  footer {
    top: $top-footer + 32;
  }
}

@media all and (min-width: 1824px) {
  header {
    margin: -1em 0 0 5em;
  }

  .region-primary-menu {
    margin-right: -25em;
  }

  .node--type-front .field--name-field-site-name {
    top: $top-field-site-name + 10;
  }

  .node--type-front .field--name-field-strapline {
    top: $top-field-strapline - 3.5;
  }

  .field--name-field-subheading {
    top: $top-field-subheading + 9.5;
  }

  .node--type-front .node--view-mode-full .field--name-body {
    top: $top-body + 30;
  }

  .polygon {
    top: $top-polygon + 28;
  }

  .block-views-blockservices-block-1 {
    top: $top-blockservices + 30;
  }

  .block-views-blocktechnologies-block-1 {
    top: $top-blocktechnologies + 34;
  }

  .block-contactblock {
    top: $top-blockcontact + 34;
  }

  .block-tweets {
    top: $top-blocktweets + 36;
  }

  footer {
    top: $top-footer + 40;
  }
}