@media all and (min-width: 960px) {

  .contextual-region {
    //position: static;
  }

  header {
    color: white;
    display: block;
    float: left;
    margin-top: -7em;
    padding-left: 3em;
    z-index: 10;
  }

  .region-primary-menu {
    float:right;
    margin-top: -7.5em;
    width: 70%;
    z-index: 10;

    ul {
      float: right;

      li {
        color: white;
        float: left;
        padding-right: 2em;

        a {
          color: white;
          text-transform: uppercase;

          &.is-active {
            color: white;
            text-decoration: underline;
          }
        }
      }

      li:before {
        color: white;
        content: ' \25CF';
        padding-right: 2em;
        visibility: visible;
      }

      li:first-child:before {
        visibility: hidden;
      }

      li:last-child {
        padding-right: 0;
      }
    }
  }

  .field--name-field-site-name {
    color: white;
    font-weight: bold;
    margin-top: 7em;

    .inner {
      @include border-gradient($light-green, $dark-green, 7px);

      display: inline-block;
      padding: 0.5em 1em;

      h1 {
        font-size: $h1-font-size * 0.8;
        margin: 0;
      }
    }
  }

  .field--name-field-strapline {
    color: white;
    font-size: $h4-font-size;
    font-weight: bold;
    margin-top: 0;

    .inner {
      display: inline-block;
      padding: 0 1em;

      h2 {
        font-size: $h2-font-size;
      }
    }
  }

  .field--name-field-subheading {
    @include bg-gradient($light-green, $dark-green);

    font-size: $h2-font-size;

    .inner {
      display:inline-block;

      h3 {
        font-size: $h3-font-size;
        margin: 0 0 0.5em 0;
      }
    }
  }

  .node--view-mode-full .field--name-body {
    color: white;
    padding: 1em 0 4em 0;

    .inner {
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      width: 50%;
    }
  }

  .polygon {
    @include div-rot($rot-amount);

    left: -1em;
    margin-top: 0;
    min-height: 10em;
    width: 105%;
  }

  .block-views-blockservices-block-1 {
    margin-bottom: 3em;
    padding-top: 1em;
    text-align: center;
    width: 100%;

    h2 {
      @include text-gradient($light-green, $dark-green);
    }

    .view-services {
      margin-left: auto;
      width: 90%;

      .views-row {
        float: left;
        width: 30%;

        .field--name-field-image {
          margin: 2em 0;
        }

        .field--name-body {
          padding: 0 2em;
        }

        .more {
          background: $medium-green;
          margin: 2em auto 0 auto;
          padding: 1em 0;
          text-transform: uppercase;
          width: 80%;

          a {
            color: white;
          }
        }
      }
    }

    h3 {
      font-size: $h4-font-size / 4;
      text-transform: uppercase;

      a {
        color: $medium-green;
      }
    }
  }

  .block-views-blocktechnologies-block-1 {
    background: url("/themes/systemick/images/coding-whiteOverlay.jpeg") no-repeat 30% 25%;
    clear: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 0 2em 0;

    .inner {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }

    .views-row {
      float: left;
      padding-bottom: 0;
      width: 20%;
    }

    .views-row:last-child {
      float: left;
      margin-left: 0;
      margin-right: 0;
    }

    h2 {
      padding-top: 0;
    }
  }

  .block-contactblock {
    float: left;
    padding: 0 0 3em 2em;
    width: 45%;

    h2 {
      margin-bottom: 0.5em;
    }

    div {
      &.hello {
        margin-bottom: 2em;
        padding: 0 0 0.5em 0;
      }

      &.email {
        float: left;
        margin-bottom: 0.5em;
        padding-left: 2.5em;
        padding-right: 1em;
      }

      &.phone {
        float: left;
        padding-bottom: 0.5em;
        padding-left: 1.5em;
      }
    }

    .contact-message-form {
      margin-top: 2em;

      textarea {
        height: 6em;
      }

      .form-item-name {
        float: left;
        width: 48%;
      }

      .form-item-mail {
        float: right;
        width: 50%;
      }

      .form-item-subject-0-value {
        width: 100%;

        input {
          width: 100%;
        }
      }

      .form-item-message-0-value {
        margin-top: 2em;
      }

      .form-actions {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }

      #edit-submit {
        float: right;
        margin-top: 2em;
      }
    }
  }

  .block-tweets {
    float: right;
    padding: 0 2em 0 0;
    width: 45%;

    h2 {
      background: url("/themes/systemick/images/twitter.svg") no-repeat 0 0;
      color: white;
      padding-left: 2em;

      margin-bottom: 0.5em;
    }

    .username {
      margin-bottom: 2em;
    }

    ul {
      list-style: none outside;
      padding: 0;

      li {
        padding: 2em 0;

        .tweet-date {
          font-style: italic;
        }

        &:first-child {
          padding: 0 0 2em 0;
        }
      }
    }
  }

  footer {
    @include bg-gradient($light-green, $dark-green);

    clear: left;
    color: white;
    min-height: 6em;
    padding: 0;
    text-align: left;
    width: 100%;

    .block {
      a {
        color: white;
        font-weight: bold;
      }
    }

    .block-block-content {
      float: left;
      margin-top: 1em;
      padding-left: 2em;
    }

    .block-system {
      float: right;
      margin-top: 1em;
      padding-right: 2em;
      padding-top: 1.5em;
    }
  }

  .block-views-blockservice-modal-block-1,
  .block-views-blockservice-modal-block-2,
  .block-views-blockservice-modal-block-3 {

    .inner {
      width: 90%;

      .views-field-body {
        float: left;
        padding-left: 3em;
        width: 56%;
      }

      .views-field-field-image {
        float: right;
        padding-right: 3em;
        width: 30%;

        img {
          float: right;
        }
      }

      .footer {
        font-size: $base-font-size * 1.6;

        .problem {
          float: left;
          margin-left: 2em;
          margin-top: -1.5em;
          text-align: left;
          width: 66%;
        }

        .button {
          float: right;
          margin-right: 3em;
          margin-top: -1em;
          width: 20%;
        }
      }
    }
  }

  ///////////////////// END OF FRONT PAGE //////////////////////////

  .path-node,
  .path-tweets,
  .path-services,
  .path-contact {

    header{
      margin-top: -7em;
    }

    .region-primary-menu {
      margin-top: -7.5em;
    }

    main {
      .block-page-title-block {
        margin-top: 7em;

        .inner {
          @include border-gradient($light-green, $dark-green, 7px);

          width: 50%;

          h1 {
            font-size: $h1-font-size * 0.8;
            margin: 0;
          }
        }
      }

      .field--name-field-subheading {
        margin-top: -4em;

        h3 {
          font-size: $h3-font-size;
        }
      }

      .field--name-body {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;

        .inner {
          margin-left: auto;
          margin-right: auto;
          width: 70%;
        }
      }

      .polygon {
        margin-top: 8em;
      }

      .polygon-not-front {
        min-height: 10em;
      }
    }

    footer {

      .block-system {
        padding-top: 1.5em;
      }
    }
  }

  .path-services,
  .path-contact {
    .block-system-main-block {
      margin-top: 7em;

      h3 {
        font-size: $h3-font-size / 2;
        text-align: center;
      }

      a:hover {
        text-decoration: none;
      }

      .view {
        margin-left: auto;
        margin-right: auto;
        width: 70%;

        .views-row {
          .polygon-not-front {
            display: none;
          }

          .field--name-field-image {
            float: left;
            width: 25%;
          }

          .field--name-body {
            background: none;
            color: $medium-green;
            float: right;
            width: 70%;

            .inner {
              width: 100%;
            }
          }

          .more {
            width: 40%;
          }
        }
      }
    }
  }

  .path-services {

    .block-system-main-block {
      margin-top: 10em;
    }
  }

  .path-contact {
    .block-system-main-block {
      margin-top: 4em;
      padding: 2em 5em 0 5em;
    }
  }

  .node--type-service {

    main {

      .block-page-title-block {

        h1 {
          font-size: $h1-font-size * 0.5;
        }
      }

      .field--name-body {
        margin-top: 4em;

        .inner {
          margin-top: 0;
        }
      }
    }
  }

  .node--type-page {

    main {

      .block-system-main-block {


        .polygon {
          margin-top: 10em;
        }

        .field--name-body {
          margin-top: -1em;
          padding-top: 2em;
        }
      }
    }
  }

  .path-tweets {

    .block-system-main-block {
      margin-top: 5em;
      padding: 2em 2em 0 2em;
    }
  }

  @-moz-document url-prefix() {
    /* FF CSS styles go here */
    .block-views-blocktechnologies-block-1,
    .block-contactblock,
    .block-views-blockservices-block-1 {

      h2 {
        background: transparent;
        color: $medium-green;
      }
    }

    h3,
    .path-tweets,
    .block-tweets {
      a {
        color: $medium-green;
      }
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .block-views-blocktechnologies-block-1,
    .block-contactblock,
    .block-views-blockservices-block-1 {

      h2 {
        background: transparent;
        color: $medium-green;
      }
    }

    h3,
    .path-tweets,
    .block-tweets {
      a {
        color: $medium-green;
      }
    }
  }
}