/* Everything wider than mobile */
@media all and (min-width: 480px) {

  body {
    background-position: 0 0;
  }

  header {
    color: white;
    display: block;
    //float: left;
    //margin: -4em 0 0 0.5em;
    padding: 1em 0 0 1em;
    //padding-left: 0.5em;
    //position:relative;
    //top:2em;
    width: 30%;
  }

  .region-primary-menu {
    float:right;
    margin-left: 0;
    margin-right: 0;
    margin-top: -5em;
    padding-right: 1em;
    //position: relative;
    //top: 5em;
    width: 70%;

    ul {
      float: right;
      //list-style-type: none;
      position: static;

      li {
        color: white;
        float: left;
        padding-right: 1em;

        a {
          color: white;
          //font-size: 20px;
          text-transform: uppercase;

          &.is-active {
            color: white;
            text-decoration: underline;
          }
        }
      }

      li:before {
        color: white;
        content: ' \25CF';
        padding-right: 1em;
        //visibility: hidden;
      }

      li:first-child {
        padding-left: 2.4em;
      }

      li:first-child:before {
        visibility: hidden;
      }

      li:last-child {
        padding-right: 0;
      }
    }
  }

  .block-views-blocktechnologies-block-1 {

    .views-row:last-child {
      width: 20%;
    }
  }

  .field--name-field-site-name {
    margin-top: 3em;

    .inner {

      h1 {
        font-size: $h2-font-size * 1.2;
      }
    }
  }

  .node--type-front .field--name-field-strapline {
    //top: $top-field-strapline;
  }

  .field--name-field-subheading {
    //top: $top-field-subheading + 1;
  }

  .node--type-front .node--view-mode-full .field--name-body {
    //top: $top-body + 1;
  }

  .polygon {
    margin-top: 2em;
    //top: $top-polygon + 1;
  }

  .block-views-blockservices-block-1 {
    //top: $top-blockservices + 1;
  }

  .block-views-blocktechnologies-block-1 {
    //top: $top-blocktechnologies + 1;
  }

  .block-contactblock {

    .contact-message-form {


      .form-actions {
        width: 30%;
      }
    }
  }

  .block-tweets {
    //top: $top-blocktweets + 1;
  }

  footer {
    //top: $top-footer + 1;
  }

  ///////////////////////// END OF FRONT /////////////////////////

  .path-node,
  .path-services,
  .path-contact {

    main {

      .block-page-title-block {
        //top: $top-field-site-name;

        h1 {
          margin-right: 12%;
          span {

          }
        }
      }

      .field--name-field-subheading {
        //top: $top-field-subheading - 33;
      }

      .field--name-body {
        //top: -26em;

        .inner {
          margin-left: auto;
        }
      }

      .polygon-not-front {
        //top: -28em;
      }
    }


    .block-contactblock {
      //top: $top-blockcontact + 10;
    }

    .block-tweets {
      //top: $top-blocktweets + 10;
    }

    footer {
      //top: $top-footer + 10;
    }
  }

  .path-services,
  .path-contact {

    .block-system-main-block {
      //top: $top-block-system-main + 4;

      .view {

        .views-row {

          .more {
            margin-left: 1.7em;
          }
        }
      }
    }

    main {

      .block-page-title-block {
        //top: $top-field-site-name +2;
      }

      .field--name-body {

        .inner {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .block-contactblock {
      //top: $top-blockcontact + 10;
    }

    .block-tweets {
      //top: $top-blocktweets + 12;
    }

    footer {
      //top: $top-footer + 12;
    }
  }

  .path-contact {

    footer {
      //top: $top-footer + 14;
    }
  }

  .node--type-page {

    main {

      .block-contactblock {
        //top: $top-blockcontact;
      }

      .block-tweets {
        //top: $top-blocktweets;
      }
    }

    footer {
      //top: $top-footer + 4;
    }
  }

  .node--type-service {

    main {

      .field--name-body {
        //top: $top-body - 27;
      }

      .block-contactblock {
        //top: $top-blockcontact + 7;
      }

      .block-tweets {
        //top: $top-blocktweets + 7;
      }
    }
  }

}