/* Everything wider than mobile portrait */
@media all and (min-width: 480px) {

  body {
    background-position: 0 0;
  }

  header {
    color: white;
    display: block;
    padding: 1em 0 0 1em;
    width: 30%;
  }

  .region-primary-menu {
    float:right;
    margin-left: 0;
    margin-right: 0;
    margin-top: -5em;
    padding-right: 1em;
    width: 70%;

    ul {
      float: right;
      position: static;

      li {
        color: white;
        float: left;
        padding-right: 1em;

        a {
          color: white;
          text-transform: uppercase;

          &.is-active {
            color: white;
            text-decoration: underline;
          }
        }
      }

      li:before {
        color: white;
        content: ' \25CF';
        padding-right: 1em;
      }

      li:first-child {
        padding-left: 2.6em;
      }

      li:first-child:before {
        visibility: hidden;
      }

      li:last-child {
        padding-right: 0;
      }
    }
  }

  .block-views-blocktechnologies-block-1 {

    .views-row:last-child {
      width: 20%;
    }
  }

  .field--name-field-site-name {
    margin-top: 3em;

    .inner {

      h1 {
        font-size: $h2-font-size * 1.2;
      }
    }
  }

  .polygon {
    margin-top: 2em;
  }

  .block-contactblock {

    .contact-message-form {


      .form-actions {
        width: 30%;
      }
    }
  }

  ///////////////////////// END OF FRONT /////////////////////////

  .path-node,
  .path-services,
  .path-contact {

    main {

      .block-page-title-block {
        margin-top: 3em;
        width: 50%;

        h1 {
          margin-right: 12%;
          span {

          }
        }
      }

      .field--name-field-subheading {
        margin-top: -3em;
      }

      .field--name-body {

        .inner {
          margin-left: auto;
        }
      }

      .polygon {
        margin-top: 6em;
      }
    }
  }

  .path-services,
  .path-contact {

    .block-system-main-block {
      margin-top: 10em;

      .view {

        .views-row {

          .more {
            //margin-left: 1.7em;
          }
        }
      }
    }

    main {

      .field--name-body {

        .inner {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}