/**
 * Styling for Twitter Feed block
 */

.block-tweets ul {
    list-style: none;
    padding-left: 0px;
}

.block-tweets li {
    font-size: 0.9em;
}

.block-tweets .tweet-date {
    font-size: 0.9em;
    padding-left: 0.5em;
}