// @file
// _base.scss
// Base styles
//

$html-font-size: 100%;

/*--------------------------------
  Box sizing
*/

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}



/*--------------------------------
  Basic document styling
*/

html {
  font-size: $html-font-size;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: none;
}

body {
  background-color: $c--body-bg;
  color: $c--body-colour;
  font-family: $sans;
  font-size: $p;
  line-height: $lh;
}

img {
  max-width: 100%;
}

a {
  color: $c--branding-secondary;
  
  &:hover,
  &:visited {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: $titillium;
  font-size: 120%;
  font-weight: bold;
}

form {
  label {
     display: block;
  }
}

input,
textarea,
button {
  border-radius: 2px;
}

.container {
  padding: 0;

  @include widescreen {
    width: $widescreen-width;
  }
}

.line-mustard {
  border-bottom: 15px solid $c--mustard;
  border-radius: 10px;
  margin: 0 10%;

  @include tablet {
    margin: 0 2%;
  }

  &.line-tweets {
    border-bottom: 5px solid $c--mustard;
    margin: 0;
  }
}

.field--name-field-subheading {
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 20px;
}

@include tablet {
  .border-yellow {
    background: $c--branding-primary;
    border: 2px solid $c--black;
  }

  .border-black {
    box-shadow: 0px 10px 15px $c--black;
  }
}
