// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// Border gradient
@mixin border-gradient($right, $left) {
  border: 7px solid transparent;
  -moz-border-image: -moz-linear-gradient(right, $right 0%, $left 100%);
  -webkit-border-image: -webkit-linear-gradient(right, $right 0%, $left 100%);
  border-image: linear-gradient(to left, $right 0%, $left 100%);
  border-image-slice: 1;
}

@mixin bg-gradient($right, $left) {
  background: $medium-green;
//  -webkit-linear-gradient(left, $right, $left);
//  -o-linear-gradient(right, $right, $left);
//  -moz-linear-gradient(right, $right, $left);
  background: linear-gradient(to right, $left, $right);
}

@mixin div-rot($rot) {
  -ms-transform: rotate($rot); /* IE 9 */
  -webkit-transform: rotate($rot); /* Safari */
  transform: rotate($rot);
}

@mixin text-gradient($right, $left) {
  background: -webkit-linear-gradient(right, $right, $left);
  background: linear-gradient(right, $right, $left);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}