/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/fonts";
@import "helpers/base";

@import "components/branding";
@import "components/banner";
@import "components/navigation";
@import "components/node";

@import "layout/headline";
@import "layout/header";
@import "layout/main";
@import "layout/footer";

@import "page/front";
