// @file
// components/_article.scss - custom styling for articles
//

.view-articles {
  .views-row {
    article {
      h2 {
        font-size: 90%;

        a {
          color: black;
        }
      }

      img {
        float: left;
        margin-right: 10px;
      }
    }
  }

  .view-footer {
    margin-top: 15px;

    @include desktop {
      margin-bottom: 20px;
    } 
  }

  &.view-display-id-block_1 {
    border-radius: 5px;

    @include tablet {
      background: #eee;
      padding: 10px;

      .views-row.col-sm-6 {
        width: 49%;
      }
    }

    .view-content {
      background: white;
    }

    .views-row {
      margin-bottom: 10px;

      @include tablet {
        margin-bottom: 0;
      }
    }

    article {
      font-size: 95%;
      margin-top: -15px;

      h2 {
        background: white;
        color: $c--almost-black;
        font-size: 100%;
        font-weight: bold;
        margin-bottom: 15px;
        margin-top: 25px;
        padding: 5px;

        @include tablet {
          //margin-left: 5px;
        }
      }

      .node__content {
        padding: 0;
      }

      .field--name-body {
        padding: 10px 0;

        @include tablet {
          padding: 10px 5px;
        }
      }

      .field--name-field-tags,
      .more {
        @include tablet {
          padding-left: 5px;
        }
      }
    }
  }
  
  &.view-display-id-page_1 {
    padding: 0 30px;

    @include tablet {
      padding: 0 15px;
    }

    .views-row  article h2 {
      font-size: 120%;
    }
  }
}

.path-articles {
  
  h2 {
    font-size: 110%;
  }

  .node--type-article .node__content {
    padding: 0 0;
  }
}
