// @file
// components/_branding.scss - custom styling for logo and site name
//

.header__background {
  height: 360px;
  background: $c--branding-primary;

  @include tablet {
    background: url(/themes/systemick_2017/images/banner3-tablet.jpg) no-repeat center center, $c--branding-primary;
  }

  @include desktop {
    background: url(/themes/systemick_2017/images/banner2.jpg) no-repeat center center, $c--branding-primary;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
}

.page-title,
.site-slogan {
  color: white;
  font-family: $montserrat;
  font-size: $h--xxx-large;
  font-weight: bold;
  text-shadow: 6px 4px 4px black;

  @include desktop {
    font-size: $h--xx-large;
    margin-top: 40px;
  }

  @include widescreen {
    font-size: $h--xxx-large;
    margin-top: 20px;
  }
}

.site-slogan {
  font-size: $h--x-large;
  margin-top: 35px;

  @include desktop {
    margin-top: 90px;
  }

  @include widescreen {
    margin-top: 35px;
  }
}
