// @file
// components/_social_media.scss - custom styling for social media block
//

.block-socialmedia {
  margin-top: 20px;
  padding-left: 0;

  @include tablet {
    padding-left: 15px;
  }

  h2 {
    margin-left: 15px;

    @include tablet {
      margin-left: 0;
    }
  } 

  img {
    margin: 10px 5px 0 0;

    @include tablet {
      margin-right: 10px;
    }
  }
}
