// @file
// components/_tags.scss - custom styling for tags
//

.block-tagadelic {
  margin-top: 20px;

  @include tablet {
    margin-top: 0;
  }

  .block-content {
    border-radius: 5px;

    @include tablet {
      background: #eee;
      padding: 10px;
    }

    .inner {
      background: white;
      border-radius: 5px;
      padding: 10px;
    }
  }
}
