@media all and (min-width: 768px) {

  .region-primary-menu {
    font-size: $base-font-size * 1.1;
    margin-top: -4.5em;
    width: 75%;
  }

  .field--name-field-site-name {
    margin-top: 2em;

    .inner {

      h1 {
        font-size: $h2-font-size * 1.7;
      }
    }
  }

  .field--name-field-subheading {
    margin-top: -4em;

    .inner {

      h3 {
        font-size: $h4-font-size / 1.5;
      }
    }
  }

  .node--view-mode-full .field--name-body {

    .inner {
      width: 80%;
    }
  }

  .polygon {
    margin-top: 1em;
    min-height: 4em;
  }

  .block-views-blockservices-block-1 {
    top: $top-blockservices + 4;

    .views-row {

      .field--name-body {
        margin-left:auto;
        margin-right:auto;
        width: 80%;
      }
    }
  }

  .block-contactblock {
    padding: 0.5em 2em;
  }

  .block-tweets {
    padding: 0.5em 2em;
  }

  .block-views-blockservice-modal-block-1,
  .block-views-blockservice-modal-block-2,
  .block-views-blockservice-modal-block-3 {

    .inner {
      min-height: 70%;
    }
  }

  ///////////////////////// END OF FRONT ///////////////////////////

  .path-node,
  .path-tweets,
  .path-services,
  .path-contact {

    main {

      .block-page-title-block {

        h1 {
          font-size: $h2-font-size * 1.5;
        }
      }

      .field--name-field-subheading {
        margin-top: -4em;
      }

      .polygon {
        margin-top: 4em;
      }
    }

  }

  .path-services,
  .path-contact {

    .block-system-main-block {
      margin-top: 12em;

      h3 {
        font-size: $h3-font-size / 1.5;
      }
    }
  }

  .path-contact {

    .block-system-main-block {
      margin-bottom: 4em;
      margin-top: 8em;
    }
  }

  .path-tweets {

    .block-system-main-block {
      margin-top: 13em;
    }
  }
}